.App{
 font-family:'Lucida Sans'; 
 display: grid;
 grid-template-rows: [row-start] 0.1fr [row-start] auto [row-start] 0.8fr [row-start] auto [row-end]; 
 grid-template-columns: [col-start] 0.1fr [col-start] 0.8fr [col-start] 0.1fr [col-end];
 margin: auto;
}

.tree{
  grid-row-start: row-start 3;
  grid-row-end: row-start 4;
  grid-column-start: col-start 2;
  grid-column-end: col-start 3;
  align-self: 'center';
  min-width: 90vh;
  min-height: 90vh;
  display: grid;
  grid-template-rows: [row-start2]auto [row-start2]0.9fr [row-start2]auto [row-end2];
 /* grid-template-columns: [col-start2] auto [col-start2] 0.8fr [col-start2] auto [col-end2]; */
}

.svg{
  height: 100%;
  width: 100%;
  /* grid-column-start: col-start2 2;
  grid-column-end: col-start2 3;  */
  grid-row-start: row-start2 2;
  grid-row-end: row-start2 3;
  overflow: visible;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  grid-row-start: row-start 1;
  grid-row-end: row-start 2;
  grid-column-start: col-start 2;
  grid-column-end: col-start 3;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
